body {
  font-family: 'Roboto Condensed', 'Pragati Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  color: #f1f1f1;
  background: #1f2023; /* Set background color for the entire page */
  text-align: center;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 50px;
}

.block {
  border: 2px solid #335796;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.block:first-child {
  display: flex;
}

.row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

label {
  margin-right: 5px;
}

input[type="number"] {
  flex: 0 0 auto;
  width: 50px;
}

input[type="text"] {
  flex: 1 1 auto;
}

button {
  flex: 0 0 auto;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.25);
  outline: none;
  padding: 8px;
  border-radius: 12px;
  font-weight: 700;
  color: #f1f1f1;
  cursor: pointer;
  border: 2px solid #335796;
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.color-text {
  color: #335796;
}

#result-normal,
#multiply-result-normal {
  flex: 0 0 auto;
  margin-right: 5px;
}

#result-scientific,
#multiply-result-scientific {
  flex: 0 0 auto;
}

#first-block .row label,
#last-block .row label {
  text-align: left;
}

/* Adjust width of the third block */
.block:last-child {
  width: fit-content;
}